/*******************************************home**********************************************/
/* .heading h4
{
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 2.5rem;
    
} */
*
{
    font-family: 'Segoe UI Light';
}
.navbar a {
  color: #fff;
  transition: all 1s;
}
.navbar a:hover
{
    color: #ff206e;
}
.home {
  height: 100vh;
  background-image: url(../imagess/bg.jpg);
  background-size: 100% 100%;
  position: relative;
}
.home i {
  margin: 10px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
}
.social-icons {
  position: absolute;
  bottom: 10px;
}
.home h1 {
  font-size: 2.5rem;
  font-weight: 900;
}
.home .view {
  color: #ff206e;
}
.heading h4 {
  font-size: 2.5rem;
  position: absolute;
  letter-spacing: 10px;
}
/*****************************************about*************************************************/
.about .creative {
  color: #ff206e;
  font-weight: 700;
}

.heading {
  position: relative;
}
.heading h2 {
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.1);
  letter-spacing: 10px;
}
.about {
  background-image: url(../imagess/light_dot.jpg);
}
.about .mail {
  font-weight: 700;
}
.mail span {
  text-decoration: underline;
  cursor: pointer;
}
/***********************************blog********************************************/
.blog span {
  color: #ff206e;
}
.mybook {
  position: absolute;
  right: 10px;
  top: -25px;
  padding: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
}
.blog {
  background-image: url(../imagess/light_dot.jpg);
}
.blog .item {
  background-color: #fff;
}
.blog .item img {
  transition: all 1s;
}

.blog .item:hover img {
  transform: scale(1.1);
}
/************************************************testmonial******************************************************/
#testmonial img
{
    width: 90px;
    border-radius: 50%;
    transform: translateY(-45px);
    border:1px solid #fff;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
}
#testmonial .item
{
    border: 2px solid #f4f4f4;
}
.item h6
{
    color: #ff206e;
}
#testmonial .carousel-indicators
{
    bottom: -50px;
}
#testmonial .carousel-indicators li
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff206e;
}

#testmonial .carousel-inner
{
    padding-top: 100px;
}



@media (max-width:695px)
{
    #testmonial h2 
    {
        font-size: 2rem;
    }
    
    #testmonial h3
    {
        font-size: 1rem;
    }
}


i
{
    color: #ff206e;
}